@model IEnumerable<DepoStokBitirmeProjesi.Entities.KasaHareketleri>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Kasa Hareketleri</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item active">KasaHareketleri</li>
                    </ol>
                </div><!-- /.col -->
               
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
           
            <div class="row">


                <div class="card col-12">
                    <div class="card-header">
                        <h3 class="card-title">Kasa Hareketi Listeleme</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlisFiyati)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SatisFiyati)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.IslemTuru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urun)
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlisFiyati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatisFiyati)
            </td>
          
            <td>
               @(item.IslemTuru==1?"Giriş":"Çıkış")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urun.Aciklama)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
